<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  Used to specify the default Sources for list, install and update.
  -->
  <packageSources>
    <add key="Nuget v2" value="https://www.nuget.org/api/v2" />
    <add key="Nuget v3" value="https://api.nuget.org/v3/index.json" />
    <add key="Sitecore v2" value="https://sitecore.myget.org/F/sc-packages/" />
    <add key="Sitecore v3" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
    <add key="CodehouseCommonPackages" value="https://pkgs.dev.azure.com/codehousegroup/Codehouse.Common/_packaging/CodehouseCommonPackages/nuget/v3/index.json" />
    <add key="Modules@Local" value="https://pkgs.dev.azure.com/codehousegroup/Codehouse.Modules/_packaging/Modules%40Local/nuget/v3/index.json" />
  </packageSources>
 <!-- 
  <PackageReference Include="NuGet.Frameworks" Version="4.5.2" />
-->
  <activePackageSource>
    <!-- this tells that all of them are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <settings>
    <repositoryPath>.\packages</repositoryPath>
  </settings>
</configuration>